
<section class="static-forms" fxLayout="column" fxLayoutAlign="space-around start" >
<h4>Select Your Chart</h4>
<mat-form-field>
  <mat-label>Chart</mat-label>
  <select matNativeControl required>
    <option value="bar">Bar</option>
    <option value="line">Line</option>
    <option value="pie">Pie</option>
  </select>
</mat-form-field>

<h4>Select Your Series</h4>
<mat-form-field>
  <mat-label>Chart</mat-label>
  <select matNativeControl required>
    <option value="daily">Daily</option>
    <option value="weekly">Weekly</option>
    <option value="monthly">Monthly</option>
    <option value="quarterly">Quarterly</option>
  </select>
</mat-form-field>

<h4>Select Your Units</h4>
<mat-form-field>
  <mat-label>Chart</mat-label>
  <select matNativeControl required>
    <option value="units">Units</option>
    <option value="dollar">$</option>
   
   
  </select>
</mat-form-field>

</section>
