

  <mat-toolbar class="nav">
    <div fxHide.gt-xs>
      
    </div>
    <div>
      <a routerLink="/"><span class="yellow">A</span>cm<span class="yellow">e</span></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <!-- <li>
          <a routerLink="/">Signup</a>
        </li>
        <li>
          <a routerLink="/">Login</a>
        </li>
        <li>
          <a routerLink="/">Training</a>
        </li>
        <li>
          <a routerLink="/">Logout</a>
        </li> -->
      </ul>
    </div>
  </mat-toolbar>
